[submodule "ysyxSoC/rocket-chip"]
	path = ysyxSoC/rocket-chip
	url = git@github.com:chipsalliance/rocket-chip.git
[submodule "fceux-am"]
	path = fceux-am
	url = git@github.com:NJU-ProjectN/fceux-am.git
	branch = ics2021
[submodule "am-kernels"]
	path = am-kernels
	url = git@github.com:NJU-ProjectN/am-kernels.git
	branch = ics2021
[submodule "nvboard"]
	path = nvboard
	url = git@github.com:NJU-ProjectN/nvboard.git
	branch = master
[submodule "riscv-tests-am"]
	path = riscv-tests-am
	url = https://github.com/NJU-ProjectN/riscv-tests-am.git
[submodule "riscv-arch-test-am"]
	path = riscv-arch-test-am
	url = https://github.com/NJU-ProjectN/riscv-arch-test-am.git
[submodule "xv6-riscv"]
	path = xv6-riscv
	url = https://github.com/ecall73/xv6-riscv.git
	branch = rv32
