CONFIG_TRACE=y
CONFIG_ITRACE=y
CONFIG_CC_DEBUG=y
CONFIG_DIFFTEST=n
CONFIG_DEVICE=y
CONFIG_HAS_SERIAL=y
CONFIG_HAS_TIMER=y
CONFIG_HAS_KEYBOARD=y
CONFIG_HAS_VGA=y
CONFIG_VGA_SHOW_SCREEN=y
CONFIG_VGA_SIZE_400x300=y
