*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.cc
!/tools/spike-diff/enable-fd.patch
!/tools/spike-diff/enable-softfloat.patch
!/tools/spike-diff/enable-wfi-nop.patch
!.gitignore
!README.md
!Kconfig
include/config
include/generated
/resource/softfloat/*
