*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.cc
!/tools/spike-diff/build-riscv.mk.patch
!/tools/spike-diff/build-softfloat.mk.patch
!/tools/spike-diff/riscv-processor.h.patch
!/tools/spike-diff/riscv-processor.cc.patch
!/tools/spike-diff/riscv-csrs.cc.patch
!/tools/spike-diff/riscv-execute.cc.patch
!.gitignore
!README.md
!Kconfig
include/config
include/generated
/resource/softfloat/*
