# CONFIG_PLATFORM_NPC is not set
CONFIG_PLATFORM_YSYXSOC=y
CONFIG_VERILATOR_O3=y
# CONFIG_DEBUG is not set
CONFIG_MAX_SIM_TIME=1000000000
# CONFIG_DIFFTEST is not set
# CONFIG_WAVE is not set
# CONFIG_PERF is not set
