*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!*.v
!*.nxdc
!*.md
/README.md
!configs/*_defconfig
!.gitignore
!.scalafmt.conf
!README.md
!Kconfig
include/config
include/generated
build/

# mill
!*.mill
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
