*.*
*
!*/
!Makefile
!Kconfig
!*.mk
!*.h
!*.hpp
!*.[cSh]
!*.v
!*.cc
!*.cpp
!configs/*defconfig
!.gitignore
!README.md
build/
tools/capstone/repo/
include/config/
include/generated/
.config
.config.old
!*.nxdc
