mainmenu "NPC Configuration Menu"

choice
  prompt "Simulation platform"
  default PLATFORM_YSYXSOC
config PLATFORM_NPC
  bool "Standalone NPC"
config PLATFORM_YSYXSOC
  bool "NPC in ysyxSoC"
endchoice

config PLATFORM
  string
  default "npc" if PLATFORM_NPC
  default "ysyxsoc" if PLATFORM_YSYXSOC

menu "Build Options"
choice
  prompt "Verilator optimization level"
  default VERILATOR_O3
config VERILATOR_O0
  bool "O0"
config VERILATOR_O1
  bool "O1"
config VERILATOR_O2
  bool "O2"
config VERILATOR_O3
  bool "O3"
endchoice

config VERILATOR_OPT
  string
  default "-O0" if VERILATOR_O0
  default "-O1" if VERILATOR_O1
  default "-O2" if VERILATOR_O2
  default "-O3" if VERILATOR_O3

config DEBUG
  bool "Enable host debug information"
  default n

config MAX_SIM_TIME
  int "Maximum simulation cycles"
  default 1000000000
endmenu

menu "Testing and Debugging"
config TRACE
  bool "Enable trace infrastructure"
  default y

config TRACE_START
  int "Trace start instruction count"
  depends on TRACE
  default 0

config TRACE_END
  int "Trace end instruction count"
  depends on TRACE
  default 100000

config ITRACE
  bool "Enable instruction trace"
  depends on TRACE
  default n

config ITRACE_COND
  string "Instruction trace condition"
  depends on ITRACE
  default "true"

config FTRACE
  bool "Enable function trace"
  depends on TRACE
  default n

config MTRACE
  bool "Enable memory trace"
  depends on TRACE
  default n

config MTRACE_COND
  string "Memory trace condition"
  depends on MTRACE
  default "true"

config DTRACE
  bool "Enable device trace"
  depends on TRACE
  default n

config ETRACE
  bool "Enable exception trace"
  depends on TRACE
  default n

config DIFFTEST
  bool "Enable differential testing"
  default n

config WAVE
  bool "Enable waveform"
  default n

config PERF
  bool "Enable performance counters"
  default n
endmenu
